body {
	background-image: url('registration.jpeg');
}

h2 {
	width: 250px;
	margin: 15px;
	display: inline-block;

}

#loginform {
	display: inline-block;
	width: 320px;
	margin-top: 0px;
	margin-right: 330px;
	margin-left: 25px;
	vertical-align: top;

}

#registerform {
	display: inline-block;
	width: 320px;

}